<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grpc" version="2.35.0" targetFramework="net48" />
  <package id="Grpc.Core" version="2.35.0" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.35.0" targetFramework="net48" />
  <package id="MagicOnion.Abstractions" version="4.3.1" targetFramework="net48" />
  <package id="MagicOnion.Client" version="4.3.1" targetFramework="net48" />
  <package id="MagicOnion.Shared" version="4.3.1" targetFramework="net48" />
  <package id="MessagePack" version="2.2.85" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.2.85" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
</packages>